:root {
    --light: #fff9ec;
    --lightShadow: #afa99d;
    --dark: #332f25;

    --radius: 15px;
}

body {
    background-color: var(--light);
}

h1 {
    color: var(--dark)
}

h3 {
    margin: 0;
    color: var(--dark);
}

h4 {
    margin: 0;
    color: var(--dark);
}

p {
    margin: 0;
    color: var(--dark);
}

.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.SearchInput {
    background-color: var(--light);
    color: var(--dark);
    border: none;
    width: 64vw;
    height: 5vh;
    box-shadow: 0px 0px 14px -3px var(--lightShadow);
    border-radius: var(--radius);
    margin-bottom: 10px;
}

.CountryGrid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;


    overflow-y: auto;
}

@media (max-width: 900px) {
    .countries-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .countries-grid {
        grid-template-columns: 1fr;
    }
}