.CardContainer {
    perspective: 1000px;
    height: 250px;
    width: 100%; /* Adjust as needed */
}

.CardBackground {
    position: relative;
    background: var(--light);


    padding: 3%;
    height: 250px;
}

.CardFace {
    position: absolute;
    inset: 0; /* Fills the container */
    padding: 3%;
    backface-visibility: hidden; /* Hides the face when it's flipped */
}

.Front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: var(--radius);
    box-shadow: 0px 0px 14px -3px var(--lightShadow);
}

/* The back starts already rotated 180 degrees */
.Back {
    transform: rotateY(180deg);

    border-radius: var(--radius);
    box-shadow: 0px 0px 14px 0px #2f4858;


    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.InformationPoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;

    margin: 0;
    width: 100%;
}

.FlagContainer {
    display: flex;
    justify-content: center;
}

img {
    width: 85%;
    height: 100%;
    /* border-radius: var(--radius); */
    object-fit: contain;
    filter: drop-shadow(0px 6px 6px var(--lightShadow));

}
